{% extends 'front/base.html.twig' %}

{% block title %}Mon Espace - SchoolPrepar{% endblock %}

{% block content %}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('{{ asset('assets/images/bg_1.jpg') }}')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Mon Espace Étudiant</h2>
                <p>Bienvenue {{ user.nom }}, voici votre tableau de bord</p>
            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="{{ path('app_home') }}">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Mon Espace</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Menu</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">
                                <i class="icon-home mr-2"></i>Tableau de bord
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="icon-user mr-2"></i>Mon Profil
                            </a>
                            <a href="{{ path('app_filieres') }}" class="list-group-item list-group-item-action">
                                <i class="icon-graduation-cap mr-2"></i>Filières
                            </a>
                            <a href="{{ path('app_etablissements') }}" class="list-group-item list-group-item-action">
                                <i class="icon-building mr-2"></i>Établissements
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="icon-calendar mr-2"></i>Événements
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="icon-heart mr-2"></i>Favoris
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-9">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">Filières consultées</h5>
                                <p class="card-text display-4">12</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <h5 class="card-title">Établissements favoris</h5>
                                <p class="card-text display-4">8</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-info text-white">
                            <div class="card-body">
                                <h5 class="card-title">Événements inscrits</h5>
                                <p class="card-text display-4">3</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Bienvenue sur votre espace SchoolPrepar</h5>
                        <p class="card-text">
                            Explorez les différentes filières et établissements disponibles pour faire le meilleur choix pour votre avenir académique et professionnel.
                        </p>
                        <div class="mt-4">
                            <a href="{{ path('app_filieres') }}" class="btn btn-primary mr-2">
                                <i class="icon-graduation-cap mr-2"></i>Explorer les filières
                            </a>
                            <a href="{{ path('app_etablissements') }}" class="btn btn-outline-primary">
                                <i class="icon-building mr-2"></i>Découvrir les établissements
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Vos dernières activités</h5>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Consultation de la filière Informatique</h6>
                                    <small>Il y a 2 heures</small>
                                </div>
                                <p class="mb-1">Vous avez consulté les détails de la filière Informatique à l'Université de Technologie.</p>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Inscription à l'événement Portes Ouvertes</h6>
                                    <small>Hier</small>
                                </div>
                                <p class="mb-1">Vous vous êtes inscrit à l'événement Portes Ouvertes de l'école Polytechnique.</p>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Ajout aux favoris</h6>
                                    <small>Il y a 3 jours</small>
                                </div>
                                <p class="mb-1">Vous avez ajouté l'établissement Université Paris-Saclay à vos favoris.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
